h1.title_index{
    display: block;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    color:#399dcf;
    text-decoration-line: underline;
}

h2.title_index{
    display: block;
    direction: rtl;
    margin-left: 0;
    color:#000000;
    text-decoration-line: underline;
}

div.about{
    display: table-cell;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    background:#f7f7f7;
}

p.p_index{
    display: block;
    direction: rtl;
    margin-left: 0;
    color:#000000;
}