<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C&E</title>
</head>
<body style="background-color:#84c8e7; display: table; width: 100%; height: 100%; margin: 0;">
    <div style="display: table-cell; vertical-align: middle; height: 100%; width: 100%; max-width: 0; padding: 10px;">
        <div id="main_body" style="display: flex; background-color: #ffffff; height: 100%; width: 100%;
         border:3px solid #000000; padding: 0;">
        </div>
    </div>
    <div style="display: table-cell; vertical-align: middle; height: 100%; width: auto;">
        <div class="main_menu"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>