<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C&E</title>

</head>
<body style="width: 100%; height: 100%; margin: 0; direction: rtl">

    <div class="gangs">
        <h1>הגיאו-מטריקות שלי</h1>
        <div class="my_gangs">
        </div>
        <div class="join_gang">
        </div>
        <div class="new_gang">
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{url_for('static', filename='my_gangs.js')}}"></script>
</body>
</html>