<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>C&E</title>
    <link rel="stylesheet" href="../static/css_files/settings_option.css">
    <link rel="stylesheet" href="../static/css_files/settings_list.css">
    <link rel="stylesheet" href="../static/css_files/settings.css">
</head>
<body>
    <div>
        <div class="settings"></div>
    </div>


    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Load our React component. -->
    <script type="text/babel" src="../static/js_files/settings_components/settings_option.js"></script>
    <script type="text/babel" src="../static/js_files/settings_components/settings.js"></script>
</body>
</html>