div.submit{
    display: flex;
    justify-content: center;
    border: #858585 solid 3px;
    border-top: 0;
    border-left: 0;
    padding: 15px;
    flex: 1.5;
}

button.submit {
    background-color: #9ed3e7;
    border: 2px solid #3b3a3a;
    border-radius: 30px;
    box-shadow: #3b3a3a 2px 2px 0 0;
    color: #3b3a3a;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button.submit:hover {
    background-color: #6ec6e7;
}

@media (min-width: 768px) {
    button.submit {
        min-width: 120px;
        padding: 0 25px;
    }
}