div.symbol_table{
    display: flex;
    width: 100%;
}

table.symbol_table{
    border: #5a5a5a solid 3px;
    border-left: 0;
    box-sizing: border-box;
    background-color: #84c8e7;
    width: 100%;
    height: 30%;
}

table.symbol_table th{
    border: #5a5a5a solid 3px;
    background-color: #FFFFFF;
    box-sizing: border-box;

}

table.symbol_table th:hover{
    background-color: #84c8e7;
    cursor: pointer;
}

