div.gangs {
    background-color: #9ad1d4;
    border-radius: 25px;
    border: 2px solid #000000;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 50%;
    max-width: 700px;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;

}

form {
    text-align: right;
    padding-right: 20%;
    margin-top: 7px;
}

input.gang,
button.style_1, button.new_gang {
    border: none;
    outline: none;
    height: 34px;
    vertical-align: middle;
    bottom: 14px;
    right: 9px;
    margin-right: 10px;
    border-radius: 22px;
    box-sizing: border-box;
    width: 25%;
    max-width: 130px;

}

div.gangs_list {
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 5px;
    margin-bottom: 70px;
}


input.gang[type="submit"],
button.style_1, button.new_gang {
    background: #3597c5 ! important;
    color: #fff;
    margin: 3%;
    width: 15%;
    opacity: 100%;
}

input.gang[type="submit"]:hover,
button.style_1:hover, button.new_gang:hover {
    background: #036897 ! important;
}

button.new_gang {
    width: 40%;
    max-width: 220px;
}

h1 {
    font-style: italic;
    color: #444646;
    text-align: center;
    font-size: 1.4em;
    margin: 5%;
}

div.background_wrapper{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);margin: 0;
}