.problem_name {
    grid-area: header;
}

.problem {
    grid-area: problem;
}

.solutions {
    grid-area: solutions;
}

.problem_wrapper {
    display: grid;
    grid-template-areas:
        'header header'
        'solutions problem';
    grid-gap: 20px;
}

div.background_wrapper{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    background-size: 30px 30px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);margin: 0;
}