

div.settings_list {
    background-color: #a5a5a5;
    border-radius: 25px;
    border: 2px solid #000000;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 60%;
    max-width: 360px;
}

div.outer_settings {
    background-color: #707070;
    border-radius: 25px;
    border: 2px solid #000000;
    display: block;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 55%;
    margin-top: 3%;

}

div.page_name {
    display: inline-block;
    vertical-align: middle;
    height: min-content;
    font-family: "Georgia", serif;
    font-size: 32px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

div.settings_wrapper {
    display: grid;
    grid-template-columns: auto auto;
    align-self: center;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
    width: auto;
}


input{
    border: none;
    outline: none;
    display: inline-block;
    height: 34px;
    vertical-align: middle;
    position: relative;
    bottom: 14px;
    right: 9px;
    border-radius: 22px;
    width: 50%;
    box-sizing: border-box;
    padding: 0 18px;
}

input[type="submit"]{
    background: rgba(0, 0, 0, 0.33) ! important;
    color: #fff;
    margin: 3%;
    width: 30%;
    opacity: 100%;
}

input[type="checkbox"] {
    background: rgba(101, 106, 106, 0.33) ! important;
    color: #fff;
    position: relative;
    width: 10px;
    opacity: 100%;
    bottom: auto;
    right: auto;
}




